* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
}

.imagem-cabecalho {
  width: 11%;
  margin-left: 61%;
  margin-top: 1em;
}

.apresentacao-conteudo {
  display: flex;
  flex-direction: column;
}

.formulario-conteudo {
  margin-top: 7rem;
  margin-left: 49%;
}

.titulo-apresentacao {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-left: 23vh;
  margin-bottom: 2rem;
  color: silver;
}

.input-conteudo {
  width: 500px;
  padding: 0.7%;
}


.switch-container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}


.switch-label {
  font-family: Arial, Helvetica, sans-serif;
  color: silver;
  font-size: 0.9rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo do botão deslizante */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

/* Efeito ligado/desligado */
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.botao-enviar {
  width: 500px;
  padding: 0.6%;
  margin-top: 1rem;
}
