*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
 
   
}

.imagem-cabecalho{
     width: 11%;
     margin-left: 70%;
     margin-top: 1em;
}

.apresentacao-conteudo{
   display: flex;
   flex-direction: column;
    

}

.titulo-apresentacao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}