*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 150px;
  border-radius: 0;
  background: #fff;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}




.cards-conteudo{
    display: flex;
    margin-top: 7%;
    gap: 3%;
    margin-left: 2%;
    
   
}

.select-veiculo {
  width: 80%;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  transition: 0.3s ease;
  outline: none;
  text-align: center;
  cursor: pointer;
}


.select-veiculo:focus {
  border-color: #003399;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 51, 153, 0.3);
}


.select-veiculo:hover {
  background-color: #fff;
}

.imagem-selecionavel{
    margin-top: 1rem;
    width: 900px;
    margin-left: 200px;
    
}